* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Raleway', sans-serif;
  color: white;
}
nav {
  display: flex;
  align-items: flex-start;
}
.navMenu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: black;
  opacity: 0.75;
  position: fixed;
  width: 100%;
  height: 10vh;
  align-items: center;
  z-index: 2;
  margin: 0;
}
.navHomeBtn:hover {
  color: #b3b3b3;
  cursor: pointer;
}
.navInfoBtn:hover {
  color: #b3b3b3;
  cursor: pointer;
}
.navStoreBtn:hover {
  color: #b3b3b3;
  cursor: pointer;
}
.navContactBtn:hover {
  color: #b3b3b3;
  cursor: pointer;
}
header {
  background-image: linear-gradient(to right bottom, rgba(197, 176, 255, 0.65), rgba(193, 174, 243, 0.65)), url(images/snow.jpg);
  height: 80vh;
  width: auto;
  background-size: cover;
  background-position: center 5%;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  margin: 6% 0 0 0;
}
.headerContainer-Main {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerPrimary {
  color: black;
  text-transform: uppercase;
}
.headerPrimary-Main {
  display: block;
  font-weight: 400;
  letter-spacing: 7px;
  text-align: center;
  animation-name: movesFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.headerPrimary-Sub {
  font-size: 20px;
  display: block;
  text-align: center;
  letter-spacing: 2px;
  animation: movesFromRight 1s ease-out;
}
@keyframes movesFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes movesFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
